@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12" style="margin-top:3%">

    <div class="col-md-6">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="-- Provide Input --" />
        </div>
        <div class="col-md-3">
            <input type="button" id="btnSubmit1" value="Search" class="btnSave btn btn-primary btn-default" />
        </div>
    </div>
</div>